mixin no_use(array)
	.no_use
//--------------------------------------------------------------global vars
- environment = process.env.NODE_ENV || 'development'
- array = '';
- assetsImage = '/src/images/';

//--------------------------------------------------------------forms


































//--------------------------------------------------------------private_vars
- _sitemap = ['article','index','ui'];