extends ../layout/_layout

block vars
	//- include ../templates/_project_vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Index', template_name: 'IndexPage'}

block content_block
	<div id="container"></div>
