extends ../layout/layout

block vars
	//- include ../templates/project-vars
	- array = {bodyClass:'', layoutMod:'', subKeywords:'', titleInner:'Index'}

block content_block
	section.section.demo_section.demo_mod
		h1.section_title Hola #[a.test(href='https://glivera-team.com/') Maketodor] :)
