+form_select({
	class: 'gelect',
	attrs: {
		//- 'data-placeholder': 'placeholder',
		//- 'data-selected': 1,
		//- 'data-search': true,
		//- 'data-search-placeholder': 'search...',
		//- 'aria-label': 'select country',
		//- 'aria-message': 'selected country:',
	},
	options: [
		{
			title: 'item',
			//- attrs: {
			//- 	'data-selected': true,
			//- }
		},
		{
			title: 'value',
		},
		{
			title: 'hello',
		},
	],
})