.breadcrumbs {
	overflow-x: hidden;
	overflow-y: auto;
}

.breadcrumbs__list {
	display: flex;
	align-items: center;

	margin-right: -2rem;
}

.breadcrumbs__item {
	padding-right: 2rem;

	&:not(:first-child) {
		&:before {
			content: '>';
			display: inline-block;
			margin-right: 2rem;
		}
	}
}

.breadcrumbs__link {
	&.breadcrumbs__link--current_mod {
		pointer-events: none;
	}

	&:hover,
	&:focus {
		text-decoration: none;
	}
}