.slider.someSliderWrapper
	.slider__arrow.slider_arrow--prev.someSliderPrev
	.slider__arrow.slider_arrow--next.someSliderNext
	.slider__list.someSlider
		+loop_while(14)
			.slider__item
				p slide#{i}
	.slider__dots.someSliderDots