form.ui_form
	ul.ui_form__list
		//- form component
		+formItem({})
			+formInput({
				type: 'text',
				label: 'Default input 1',
				placeholder: 'Placeholder',
				value: '',
				id: 'input_1',
			})

		//- form component
		+formItem({})
			+formInput({
				type: 'text',
				label: 'Default input 2',
				placeholder: 'Placeholder',
				value: '',
				id: 'input_1',
			})

		//- form component
		+formItem({
			mod: 'ui_form__item--full_mod'
		})
			+formTextarea({
				label: 'Default textarea',
				placeholder: 'Placeholder',
				id: 'textarea_1',
			})

		//- form component
		+formItem({})
			+formSelect({
				label: 'Default select 1',
				options: [
					{
						title: 'item',
					},
					{
						title: 'value',
					},
					{
						title: 'hello',
					},
				],
				id: 'select_1',
			})

		//- form component
		+formItem({})
			+formSelect({
				label: 'Default select 2',
				options: [
					{
						title: 'item',
					},
					{
						title: 'value',
					},
					{
						title: 'hello',
					},
				],
				id: 'select_1',
			})

		//- form component
		+formItem({
			title: 'Checkboxes'
		})
			.ui_form__subitem
				+formCheckbox({
					label: 'checkbox label 1',
					checked: false,
				})
			.ui_form__subitem
				+formCheckbox({
					label: 'checkbox label 2',
					checked: false,
				})

		//- form component
		+formItem({
			title: 'Radio buttons'
		})
			.ui_form__subitem
				+formRadio({
					label: 'radio label 1',
					name: 'radio_1',
					checked: false,
				})
			.ui_form__subitem
				+formRadio({
					label: 'radio label 2',
					name: 'radio_1',
					checked: false,
				})
