include ../templates/global-vars
include ../templates/global-mixins
include ../templates/mixins/m-header
include ../templates/mixins/m-footer

block vars
block project_vars

doctype
html(lang="en")
	head
		+head(array)
	body(class= array.bodyClass)
		.preloader
		+header
		.wrapper(class= array.layoutMod)
			.base(class= array.layoutMod)
				block content_block
			+footer
		block local_popup
		script(type="module" src='/src/js/index.js')
		//- script(type="module" src=`/src/js/pages/${array.template_name}.js`)
		+devWidget
		+deployTime